<div class="row">

  <div class="col-md-4">
    <h4 class="text-muted">Default Settings</h4>
    <div id="accordion-default">
      <h3>One</h3>
      <div>These widget is created with default settings</div>
      <h3>Two</h3>
      <div>This is panel 2</div>
      <h3>Three</h3>
      <div>This is panel 3</div>
    </div>
  </div>

  <div class="col-md-4">
    <h4 class="text-muted">Second Panel Open</h4>
    <div id="accordion-second">
      <h3>One</h3>
      <div>This is panel 1</div>
      <h3>Two</h3>
      <div>The second panel is open by default</div>
      <h3>Three</h3>
      <div>This is panel 3</div>
    </div>
  </div>

  <div class="col-md-4">
    <h4 class="text-muted">No Animation</h4>
    <div id="accordion-noanimate">
      <h3>One</h3>
      <div>This widget has no animation</div>
      <h3>Two</h3>
      <div>This is panel 2</div>
      <h3>Three</h3>
      <div>This is panel 3</div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <h4 class="text-muted">Animation Duration</h4>
    <div id="accordion-duration">
      <h3>One</h3>
      <div>The animtion duration has been set to 1000ms</div>
      <h3>Two</h3>
      <div>This is panel 2</div>
      <h3>Three</h3>
      <div>This is panel 3</div>
    </div>
  </div>

  <div class="col-md-4">
    <h4 class="text-muted">Animation Easing</h4>
    <div id="accordion-easing">
      <h3>One</h3>
      <div>This widget has a bounce animation</div>
      <h3>Two</h3>
      <div>This is panel 2</div>
      <h3>Three</h3>
      <div>This is panel 3</div>
    </div>
  </div>

  <div class="col-md-4">
    <h4 class="text-muted">Easing Down</h4>
    <div id="easing-down">
      <h3>One</h3>
      <div>This is panel has different up/down animation effects</div>
      <h3>Two</h3>
      <div>This is panel 2</div>
      <h3>Three</h3>
      <div>This is panel 3</div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <h4 class="text-muted">Collapsible</h4>
    <div id="accordion-collapsible">
      <h3>One</h3>
      <div>This is panel allows all to be collapsed</div>
      <h3>Two</h3>
      <div>This is panel 2</div>
      <h3>Three</h3>
      <div>This is panel 3</div>
    </div>
  </div>

  <div class="col-md-4">
    <h4 class="text-muted">Event Mouseover</h4>
    <div id="accordion-mouseover">
      <h3>One</h3>
      <div>This widget responds to mouseover instead of click</div>
      <h3>Two</h3>
      <div>This is panel 2</div>
      <h3>Three</h3>
      <div>This is panel 3</div>
    </div>
  </div>

  <div class="col-md-4">
    <h4 class="text-muted">Icons</h4>
    <div id="accordion-icons">
      <h3>One</h3>
      <div>This widget has custom icons</div>
      <h3>Two</h3>
      <div>This is panel 2</div>
      <h3>Three</h3>
      <div>This is panel 3</div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <h4 class="text-muted">Hidestyle</h4>
    <div id="accordion-hidestyle">
      <h3>One</h3>
      <div>
        This is panel 1<br>
        With more content than the other panels<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur id debitis culpa quia iusto nisi, qui officiis inventore, temporibus quas placeat alias adipisci nam unde maxime! Incidunt rem expedita laudantium?
      </div>
      <h3>Two</h3>
      <div>This is panel 2</div>
      <h3>Three</h3>
      <div>This is panel 3</div>
    </div>
  </div>

  <div class="col-md-4">
    <h4 class="text-muted">Disable Method</h4>
    <button id="disable-accordion" class="btn btn-default" type="button">Disable</button>
    <button id="enable-accordion" class="btn btn-default" type="button">Enable</button>
    <div id="accordion-disable">
      <h3>One</h3>
      <div>Click the buttons to disable/enable this widget</div>
      <h3>Two</h3>
      <div>This is panel 2</div>
      <h3>Three</h3>
      <div>This is panel 3</div>
    </div>
  </div>

  <div class="col-md-4">
    <h4 class="text-muted">Create Event</h4>
    <div id="accordion-create-event">
      <h3>One</h3>
      <div>Check console for create event message</div>
      <h3>Two</h3>
      <div>This is panel 2</div>
      <h3>Three</h3>
      <div>This is panel 3</div>
    </div>
  </div>

</div>