<div id="actions" class="row">
  <div class="col-lg-12">
    <div class="btn-toolbar">
      <div class="btn-group">
        <button id="doPageUp" type="button" class="btn btn-default">Page Up</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h4 class="text-muted">Default Settings</h4>
    <form role="form">
      <div class="form-group">
        <label for="spin1">Some input</label>
        <input type="text" class="form-control" id="spin1" placeholder="Enter value">
      </div>
    </form>
  </div>
  <div class="col-md-3">
    <h4 class="text-muted">Min 0 Max 10</h4>
    <form role="form">
      <div class="form-group">
        <label for="spin2">Some input</label>
        <input type="text" class="form-control" id="spin2" placeholder="Enter value">
      </div>
    </form>
  </div>
  <div class="col-md-3">
    <h4 class="text-muted">Custom Icons</h4>
    <form role="form">
      <div class="form-group">
        <label for="spin3">Some input</label>
        <input type="text" class="form-control" id="spin3" placeholder="Enter value">
      </div>
    </form>
  </div>
  <div class="col-md-3">
    <h4 class="text-muted">Max 100 Step 10</h4>
    <form role="form">
      <div class="form-group">
        <label for="spin4">Some input</label>
        <input type="text" class="form-control" id="spin4" placeholder="Enter value">
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h4 class="text-muted">Incremental Function</h4>
    <form role="form">
      <div class="form-group">
        <label for="spin5">Some input</label>
        <input type="text" class="form-control" id="spin5" placeholder="Enter value">
      </div>
    </form>
  </div>
  <div class="col-md-3">
    <h4 class="text-muted">Page Up</h4>
    <form role="form">
      <div class="form-group">
        <label for="spin6">Some input</label>
        <input type="text" class="form-control" id="spin6" placeholder="Enter value">
      </div>
    </form>
  </div>
</div>