<div class="row">
  <div class="col-md-6">
    <button id="changeAnimation" class="btn btn-default">Change Animation</button>
    <div id="tabs">
      <!-- TAB PANEL HEADERS -->
      <ul>
        <li><h3><a href="#one">One</a></h3></li>
        <li><h3><a href="#two">Two</a></h3></li>
        <li><h3><a href="#three">Three</a></h3></li>
      </ul>
      <!-- TAB PANEL BODIES (id's must match headers)-->
      <div id="one">This is the content of tab panel one</div>
      <div id="two">This is the content of tab panel two</div>
      <div id="three">This is the content of tab panel three</div>
    </div>
  </div>
</div>