<div class="row">
  <div class="col-lg-6">
    <h4 class="text-muted">Default Settings</h4>
    <img id="image1" src="images/nebula.png" alt="nebula" class="img-rounded img-responsive" title="This is the Heart and Soul nebula">
  </div>
  <div class="col-lg-6">
    <h4 class="text-muted">Alt Attribute</h4>
    <img id="image2" src="images/nebula.png" class="img-rounded img-responsive" alt="This is the Heart and Soul nebula">
  </div>
</div>

<div class="row top-buffer">
  <div class="col-lg-6">
    <h4 class="text-muted">Track Mouse</h4>
    <img id="image3" src="images/nebula.png" class="img-rounded img-responsive" alt="This is the Heart and Soul nebula">
  </div>
</div>